@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">C# Projects</h1>
    <p>These are the projects I made using C# and .NET Framework</p>
    <h2> Projects: </h2>
    <p><a href="https://github.com/kevintzaw/The-Tech-Academy-Basic-C-Sharp-Projects/tree/main/CarInsuranceProject">Car Insurance</a></p>
    <p>This project is an MVC web application that mimics a car insurance website. It asks the user for different information</p>
    <p>that are going to impact how the user will be quoted for their insurance.</p>
    <p><a href="https://challengesubmission202205142204.azurewebsites.net/">Debugging</a></p>
    <p>This project demonstrates the abilityy to self tech and debug as a developer. The goal of the assignment was to publish</p>
    <p>a web application onto Azure. The project is hosted on the Azure platform.</p>
    <p><a href="https://github.com/kevintzaw/The-Tech-Academy-Basic-C-Sharp-Projects/tree/main/Multi-Step%20Console%20App">Multi-Step Console Application</a></p>
    <p>This project has a list of strings that has at least two identical strings. If there's an item that displays in both list,</p>
    <p>a message will appear letting them know that it has. There's also another message if it doesn't appear</p>
</div>
